.rodal-dialog {
    text-align: center;
    width: 90% !important;
    height: 80% !important;
    background-color: rgba(59, 55, 59, 0.027);
}
.rodal-mask {
    background: rgba(7, 3, 7, 0.972) !important;
}
.modal-title {
    text-align: center;
}
.modal-desc {
    text-align: center;
}
.image-category {
    text-align: center;
}
